<div class="pad10">
<h1>LOGIN</h1>
<div class="flex-sb-c">
  <div>
    <label for="username">USERNAME</label>&nbsp;
    <input type="text" name="username" id="username" [(ngModel)]="username">
  </div>
  <br>
  <div>
    <label for="password">PASSWORD</label>&nbsp;
    <input type="password" name="password" id="password" [(ngModel)]="password">
  </div>
</div>
<br>
<input type="button" value="BROADCAST" (click)="setCredentials(1)">
<br>
<input type="button" value="WINDOWPOST" (click)="setCredentials(2)">
<br>
<input type="button" value="CACHESTORAGE" (click)="setCredentials(3)">
<br>
<input type="button" value="RESETALL" (click)="setCredentials(4)">
<br><br><br>
<p>
  Demonstration of what's happening. Open a new tab and check while changing in one of the tabs. 
</p>
<div *ngFor="let mode of modeDataArray">
<h2>{{selectedMode[mode?.selected - 1]}}</h2>
<div *ngIf="mode" class="flex-sb-c">
  <div>
    <label>USERNAME</label>&nbsp;
    <label>{{mode?.username}}</label>&nbsp;
  </div>
  <br>
  <div>
    <label>PASSWORD</label>&nbsp;
    <label>{{mode?.password}}</label>&nbsp;
  </div>
</div>
</div>
</div>
